<ion-view id="page3">
    <ion-nav-title>{{category}}</ion-nav-title>
    <ion-content lazy-scroll padding="false" class="has-header">

        <form class="list mangan-input-search" ng-submit="searchQuery()" ng-show="category === 'Pencarian'">
            <label class="item item-input" name="Pencarian">
                <div><i class="icon ion-ios-search placeholder-icon"></i></div>
                <input type="search" placeholder="Cari" ng-model="user.query" ng-focus="typeSearch()" ion-ripple>
            </label>
        </form>
        
        <!-- Keyword not found -->
        <div ng-show="notfound" class="mangan-nodata">
            <i class="icon ion-android-restaurant"></i>
            <p>Ups, Sepertinya Belum Ada Kuliner Disini</p>
            <div class="row list" style="padding-top: 10px;">
                <div class="col item item-text-wrap" id="mangan-button-rekomendasi">
                    <button class="button button-small button-oren button-clear" style="width: 100%;" ng-click="rekomendasikan()" ion-ripple>REKOMENDASIKAN</button>
                </div>
                <div class="col item item-text-wrap" id="mangan-button-daftar">
                    <button class="button button-small  button-oren button-clear" style="width: 100%;" ng-click="daftar()" ion-ripple>DAFTAR KULINER</button>
                </div>
            </div>
        </div>
        
        <div class="item item-text-wrap" style="margin:0; border:0;" ng-show="restorans">
            <p>Ditemukan {{restorans.length}} Kuliner</p>
        </div>
    
        <div class="list card" ng-repeat="restoran in restorans | orderObjectBy: 'tglInput' :true" ng-show="restoran.keteranganResto && restoran.keteranganResto != 'null'" style="padding:0;" ion-ripple>
            <div class="mangan-list-header" ion-ripple>
                <div class="mangan-nama-resto">{{restoran.namaResto}}</div>
                <div ng-click="openRestoran(restoran.index, true)"><img image-lazy-src="{{restoran.gambar[0]}}" class="mangan-image-4_3" image-lazy-distance-from-bottom-to-load="50"></div>
            </div>
            <div class="item item-icon-left item-text-wrap mangan-open-hour" ng-show="restoran.keteranganBuka && restoran.keteranganBuka != 'null'" ng-click="openRestoran(restoran.index)">
                <i class="icon ion-android-alarm-clock"></i>
                <p ng-show="restoran.keteranganBuka && restoran.keteranganBuka != 'null'"><p>Buka {{restoran.keteranganBuka}}</p>
            </div>
            <div class="item item-text-wrap mangan-keterangan">
                <p ng-bind-html="restoran.keteranganResto"></p>
            </div>
            
            <div class="row">
                <span class="col col-20" style="padding: 0;"></span>
                <span class="col col-25" style="padding: 0; margin-left: -10px;" ion-ripple>
                    <button class="button button-balanced button-clear" ng-click="shareRestoran(restoran.index)">
                        <i class="icon ion-android-share-alt"></i>
                    </button>
                </span>
                <span class="col col-25" style="padding: 0;" ng-if="checkSavedRestoran(restoran.index) == false" ion-ripple>
                    <button class="button button-balanced button-clear" ng-click="saveRestoran(restoran.index)">
                        <i class="icon icon ion-android-favorite-outline"></i>
                    </button>
                </span>
                <span class="col col-25" style="padding: 0;" ng-if="checkSavedRestoran(restoran.index) == true" ion-ripple>
                   <button class="button button-light button-clear" ng-click="saveRestoran(restoran.index)">
                        <i class="icon icon ion-android-favorite" style="color:#c85054;"></i>
                    </button>
                </span>
                <span class="col col-25" style="padding: 0;" ion-ripple>
                    <button class="button button-balanced button-clear" ng-click="openRestoran(restoran.index, false)">
                        <i class="icon ion-more"></i>
                    </button>
                </span>
            </div>
        </div>
    </ion-content>
</ion-view>