<ion-view title="Pesan" id="pesan">
    <ion-nav-title>{{restoran.namaResto}}</ion-nav-title>
    <ion-content lazy-scroll overflow-scroll="false" class="has-header has-footer">
        <ion-refresher
            on-refresh="getMenus()"
            spinner = "ripple" >
        </ion-refresher>
        <div class="list" style="position: relative;">
            <div class="item item-thumbnail-left item-text-wrap" ng-repeat="menu in menus" style="border:0;" ng-show="(menu.harga % 1) == 0">
                <img image-lazy-src="{{ menu.gambar }}" class="mangan-image-1_1" image-lazy-distance-from-bottom-to-load="50">
                    <h3>{{menu.namaMenu}}</h3>
                    <p ng-show="(menu.harga % 1) == 0">{{menu.harga | currency:'Rp ':2}}</p>
                    <p ng-hide="(menu.harga % 1) == 0">{{menu.harga}}</p>
                    <p>Jumlah : 
                        <span>
                            <button class="button mangan-button-jumlah button-oren button-outline" ng-click="minQuantity($index, menu.quantity)"><i class="icon ion-minus"></i></button>
                            <span class="mangan-input-quantity">{{menu.quantity}}</span>
                            <button class="button mangan-button-jumlah button-oren button-outline" ng-click="addQuantity($index, menu.quantity)"><i class="icon ion-plus"></i></button>
                        </span>
                    </p>
            </div>

<!--             <div class="list">
                <div class="item mangan-menu" style="border-bottom: 1px solid rgb(230,231,232); width: 100%;">
                    <label class="item-input mangan-menu" style="">
                        <i class="mangan-invoice-icon icon ion-compose" style="margin-right:5px;"></i>
                        <span class="" style="width: 100%;"><input type="text" placeholder="Tulis Pesanan Lain (Menu, jumlah, perkiraan harga)" ng-model="tambahan.catatan" style="color:orangered;"></span>
                    </label>
                </div>
            </div> -->
            
        </div>
    </ion-content>
        <button class="button button-full button-oren icon-right ion-ios-arrow-right" ng-click="invoice()" style="position:fixed; border-top-right-radius:0px; border-top-left-radius:0px;border-bottom-right-radius:0px;border-bottom-left-radius:0px;margin-bottom:0px; bottom:0px;left:0px;right:0px;text-align: center; box-shadow: 0px 0px 10px 2px rgba(136,136,136,1);" ion-ripple>LANJUTKAN</button>
</ion-view>