<ion-view title="Promo" id="promo">
    <ion-content lazy-scroll padding="true" class="has-header" overflow-scroll="false">
        <ion-refresher
            pulling-text="Lepas untuk memperbarui"
            on-refresh="getPromos()"
            spinner = "ripple" >
        </ion-refresher>
        <div class="mangan-nodata" ng-hide="promos.length > 0">
            <i class="ion-android-notifications-none"></i>
            <p>Tunggu Promo Menarik dari Kuliner Favoritmu</p>
        </div>

        <div class="list card" ng-repeat="promo in promos | orderObjectBy: 'tglInput' :true track by promo.index" ng-show="promo.show" ng-click="openModal(promo.index)" style="border:0" ion-ripple>
            <img class="mangan-image-4_3" src="{{promo.url}}">
            <div class="item item-icon-left item-text-wrap" style="border-top:0;">
                <i class="icon ion-android-notifications-none"></i>
                {{promo.namaPromo}}
                <p style="margin-top: 0;">{{promo.resto}}</p>
                <p style="color: orangered;">Valid hingga : {{promo.valid}}</p>
            </div>
    </ion-content>
</ion-view>